<a href="https://colab.research.google.com/github/mjur94/SQL_in_Google_Colab/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Uruchamianie kodu SQL w Google Colaboratory**

In [ ]:
#Załadowanie dodatku odpowiedzialnego za możliwość wykonywania operacji SQL oraz SQLite3
%load_ext sql

In [ ]:
#Utworzenie testowej bazy danych
#Fragment %%sql wskazuje na wykonywanie kodu SQL
#Domyślnie wybrana baza danych będzie oznaczona symbolem "*"
%%sql
sqlite:///test.db

'Connected: @test.db'

In [ ]:
#Wykonanie przykładowego kodu SQL
%%sql
create table sample(column_1 int, column_2 varchar);
insert into sample values (1,'abc'),(2,'abcd');
select * from sample;

 * sqlite:///test.db
Done.
2 rows affected.
Done.

[(1, 'abc'), (2, 'abcd')]

In [ ]:
#Sprawdzenie występowania tabel w bazie danych
%%sql
SELECT * FROM sqlite_master WHERE type='table'

   sqlite:///test.db
 * sqlite:///testowa2.db
Done.

[]

In [ ]:
#Utworzenie i wybranie nowej bazy danych
%%sql
sqlite:///testowa2.db

'Connected: @testowa2.db'